/* CSS declarations go here */
body {
  font-family: 'Merriweather', serif;
  font-size: 28px;
  line-height: 175%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

h1 {
  font-weight: lighter;
  color: #1693A5;
  text-align: right;
  font-size: 0px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  padding-top: 35px;
  color: #ADD8C7;
}

.complete {
  color: #333333;
}

.incomplete {
  color: #CCCCCC;
}

#selectText {
  float: left;
}
